 .cuadros, .cuadrosPerfil, .info, .containerRedes {
    padding: 12px 12px 0 12px;
    background-color: #466fe1db;
    color: $color-fuentes;
    font-size: 1.1rem;
}

.tituloCard {
    font-size: 1.5rem;
}

.imgCuadros, .cuadros, .cuadrosPerfil, .info, .containerRedes {
    border: $color-fuentes solid 3px;
    border-radius: 0.6rem;
}

.carouselBorder {
    border-radius: 0.6rem;
}

.tituloCanciones {
    font-size: 1.3rem;
    font-weight: 500;
    border-bottom: 2px solid $color-fuentes;
    display: inline-block;
}

.escuchalo {
    font-size: 1.1rem;
    text-align: center;
    margin: 0.5rem 0;
}

.containerSencillos {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cuadrosPerfil {
    height: 32rem;
}

.terminos {
    @include links;
}

.containerRedes{
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    &:hover {
        @include transicion;
    }

    img{
        width: $width-logos;
        margin-right: 1rem;
    }

    p{
        color: $color-fuentes;
        font-size: 1rem;
        margin: auto;
        width: 100%;
        font-family: $font-retro;
    }
}