footer {
    background: linear-gradient(90deg, #9451e1db, #e68cbadb);
    bottom: 0;

    li {
        padding: 3px 0;
        &:hover {
            @include transicion;
        }
    }
}

.datosFooter {
    width: 200px;
}

.liFooter {
    text-decoration: none;
    list-style: none;
    color: $color-fuentes;
    font-size: 1.2rem;
}

.logoNewgrounds {
    width: 1.2rem;
}